.App {
    background-image: url('../images/CoolPurp.jpg');
    background-size: cover;
    font-family: MorningBeach;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    color: black;
}

.pinpic {
    width: 20rem;
    height: 20rem;
    margin-left: 6rem;
    margin-top: 5rem;
}

.LRLogoBox {
    display:flex;
}

.LogRegLogo {
    color: darkred;
    font-size: 7rem;
    text-shadow: .25rem .25rem black;
    margin-left: -5rem;
}

.LRNoun {
    display: flex;
    font-size: 2.5rem;
    margin-top: 5rem;
    text-shadow: .25rem .25rem pink;
}




/*LogReg*/
.LRTop {
    display: flex;
}

.body {
    text-align: center;
    font-size: 2rem;
    height: 100%;
    text-shadow: .25rem .25rem pink;
    margin: 1rem;
}

.LRBoxes {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.logBox, .regBox {
    border: .1rem solid black;
    border-radius: 2%;
    box-shadow: .25rem .25rem black;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    font-size: 2rem;
    text-shadow: .1rem .1rem pink;
    margin: 1rem;
    color: black;
    padding-top: 1rem;
}


/* Main Page */
.Main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.MainLeft, .MainRight {
    width: 30%;
}

.MainMid {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}



/*MusicPlayer*/
.MShell {
    border: .1em solid black;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    width: auto;
    height: auto;
}

.Mbtn{
    width: auto;
    background-color: rgb(164, 29, 164);
    color: whitesmoke;
    border: .1em solid black;
    border-radius: 5%;
    box-shadow: .2em .2em black;
    text-align: center;
    margin: 1em;
}


/*Bored*/
.BoredBox {
    font-size: 6rem;
    text-shadow: .2rem .2rem pink;
    margin: 2%;
}

.Bbtn {
    width: 20rem;
    height: 5rem;
    background-color: rgb(164, 29, 164);
    color: whitesmoke;
    border: .1rem solid black;
    border-radius: 5%;
    box-shadow: .2em .2em black;
    font-size: 3rem;
}


/*Dashboard*/
.Dashboard {
    border: .1rem solid black;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .2);
    background-image: url('../images/pin.png');
    background-size: 18rem;
    background-repeat: no-repeat;
    background-position: 16em 2em;
    display: flex;
    padding: 2.5%;
}

.DashLogo{
    font-size: 6rem;
    text-shadow: .25rem .25rem pink;
}

.DashR {
    padding-left: 3.25em;
    font-size: 2rem;
    text-shadow: .1rem .1rem pink;
}

.DashTab {
    display: flex;
    justify-content: space-between;
}

.Dbtn {
    width: 2em;
    height: 2em;
    background-color: rgb(164, 29, 164);
    color: whitesmoke;
    border: .1em solid black;
    border-radius: 50%;
    box-shadow: .2em .2em black;
}


/*E & E displayAll*/
.bodyBox {
    background-image: 'transparent';
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 2%;
}

.LikeStrip {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20%;
    margin-left: 20%;
}

.likeWords {
    font-size: 2rem;
    text-shadow: .2rem .2rem pink;
}

.allBox {
    border: .1rem solid black;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, .2);
    margin: 2%;
    text-align: center;
    width: auto;
    height: auto;
    padding-bottom: 1%;
    text-shadow: .1em .1em pink;
    padding-top: 1%;
}

.allbtn {
    width: auto;
    height: auto;
    background-color:rgb(164, 29, 164) ;
    color: white;
    border: .1rem solid black;
    border-radius: 25%;
    box-shadow: .2em .2em black;
    text-shadow: none;
    text-decoration: none;
    padding: 1%;
}

/*E&ERecent*/
.recentShell{
    border: .1rem solid black;
    border-radius: 2%;
    background-color: rgba(0,0,0,.2);
}

.recentTitleBar {
    display: flex;
    margin: 5%;
}

.recentTitle {
    text-align: center;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 3rem;
    text-shadow: .1em .1em pink;
}

.recentPostTitle {
    text-align: center;
    font-weight: bold;
    padding-left: 6%;
    padding-right: 5%;
    font-size: 3rem;
    text-shadow: .1em .1em pink;
}

.recentInfo {
    text-align: center;
    text-shadow: .1em .1em pink;
}

.rbtn {
    width: auto;
    height: 2.25em;
    background-color:rgb(164, 29, 164) ;
    color: white;
    border: .1rem solid black;
    border-radius: 25%;
    box-shadow: .2em .2em black;
    text-shadow: none;
    text-decoration: none;
    padding: 1%;
}


/* OnePageDisplay*/
.oneBodyBox {
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
}

.onebtn {
    width: auto;
    height: auto;
    background-color:rgb(164, 29, 164) ;
    color: white;
    border: .1rem solid black;
    border-radius: 25%;
    box-shadow: .2em .2em black;
    text-shadow: none;
    text-decoration: none;
    padding: 1%;
}

.ButtonStrip {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.PageTitle {
    font-size: 6rem;
    text-shadow: .2rem .2rem pink;
}

.TitleBox {
    font-size: 6rem;
    color: darkred;
    text-shadow: .1rem .1rem black;
}

.oneBox {
    margin: 5rem;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: center;
}


/*NewEntry & Event*/
.EBodyBox {
    width: 100%;
    height: 100vh;
    display: grid;
    text-align: center;
}

.BoxLabel {
    font-size: 2.5rem;
    text-shadow: .2rem .2rem pink;
}

.InputBox {
    background-color: transparent;
    border-radius: 2%;
    margin-left: 1%;
}

.EntryBox {
    width: 80%;
    height: 100%;
    border-radius: 2rem; 
    background-color: transparent; 
    white-space: pre-wrap;
    overflow: auto
}


/*Families*/
.famBodyBox {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    padding-bottom: 10%;
}


.famTitleBar {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
}

.famAllBox {
    border: .1rem solid black;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, .2);
    margin: 2%;
    text-align: center;
    width: auto;
    height: auto;
    padding-bottom: 1%;
    text-shadow: .1em .1em pink;
    padding-top: 1.5%;
    display: flex;
    justify-content: space-evenly;
}
.famButtons {
    margin: 2%;
    text-align: center;
    width: auto;
    height: auto;
    padding-bottom: 1%;
    text-shadow: .1em .1em pink;
    display: flex;
    justify-content: space-around;
}

.famInfo {
    text-align: center;
    text-shadow: .1em .1em pink;
}

.fambtn {
    width: auto;
    height: auto;
    background-color:rgb(164, 29, 164) ;
    color: white;
    border: .1rem solid black;
    border-radius: 25%;
    box-shadow: .2em .2em black;
    text-shadow: none;
    text-decoration: none;
    padding: 2%;

}



/*ChatBox*/
.ChatBorder {
    border: .1rem solid black;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .2);
}

.screen {
    border: .1rem solid black;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .2);
    padding-left: 5%;
    color: aliceblue;
    text-shadow: .1rem .1rem black;
    font-size: large;
    margin: 1%;
}

.MessageBox {
    width: 96.5%;
    margin: 2%;
    height: 3rem;
    border-radius: 5%;
    background-color: transparent;
    color: whitesmoke;
}

.NameBox {
    background-color: transparent;
    border-radius: 5%;
    color: white;
}