.App {
    background-image: url('../images/CoolPurp.jpg');
    background-size: cover;
    font-family: MorningBeach;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    color: black;
}

.pinpic {
    width: 22rem;
    height: 22rem;
    margin-left: 6rem;
    margin-top: 5rem;
}

.logo {
    margin-left: 1rem;
    color: darkred;
    display: flex;
}

.PageTitle {
    font-size: 10rem;
    text-shadow: .2rem .2rem pink;
}


/*LogReg*/
.LRTop {
    display: flex;
    text-shadow: .25rem .25rem pink;
}

.body {
    text-align: center;
    font-size: 12rem;
    height: 100%;
    text-shadow: .25rem .25rem pink;
    margin: 1rem;
}

.LRBoxes {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.logBox, .regBox {
    border: .1rem solid black;
    border-radius: 2%;
    box-shadow: .25rem .25rem black;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    font-size: 2.5rem;
    text-shadow: .1rem .1rem pink;
    margin: 1rem;
    color: black;
}


/* Main Page */
.Main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.MainLeft, .MainRight {
    width: 30%;
}

.MainMid {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: auto;
    height: 2.25em;
    background-color: rgb(164, 29, 164);
    color: whitesmoke;
    border: .1rem solid black;
    border-radius: 5%;
    box-shadow: .2em .2em black;
    text-shadow: 0 0 transparent;
}


/*MusicPlayer*/
.MShell {
    border: .1em solid black;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    width: auto;
    height: auto;
}

.Mbtn{
    width: auto;
    background-color: rgb(164, 29, 164);
    color: whitesmoke;
    border: .1em solid black;
    border-radius: 5%;
    box-shadow: .2em .2em black;
    text-align: center;
    margin: 1em;
}


/*Bored*/
.BoredBox {
    font-size: 10rem;
    text-shadow: .2rem .2rem pink;
    margin: 2%;
}

.Bbtn {
    width: 20rem;
    height: 5rem;
    background-color: rgb(164, 29, 164);
    color: whitesmoke;
    border: .1rem solid black;
    border-radius: 5%;
    box-shadow: .2em .2em black;
    font-size: 3rem;
}


/*Dashboard*/
.Dashboard {
    border: .1rem solid black;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .2);
    background-image: url('../images/pin.png');
    background-size: 18rem;
    background-repeat: no-repeat;
    background-position: 16em 2em;
    display: flex;
    padding: 2.5%;
}

.Logo{
    font-size: 8.5rem;
    text-shadow: .25rem .25rem pink;
}

.DashR {
    padding-left: 2.5em;
    font-size: 2.5rem;
    text-shadow: .1rem .1rem pink;
}

.DashTab {
    display: flex;
    justify-content: space-between;
}

.Dbtn {
    width: 2em;
    height: 2em;
    background-color: rgb(164, 29, 164);
    color: whitesmoke;
    border: .1em solid black;
    border-radius: 50%;
    box-shadow: .2em .2em black;
}


/*E & E displayAll*/
.bodyBox {
    background-image: 'transparent';
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 2%;
}

.LikeStrip {
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    text-shadow: .2rem .2rem pink;
}

.allBox {
    border: .1rem solid black;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, .2);
    margin: 2%;
    text-align: center;
    width: auto;
    height: auto;
    padding-bottom: 1%;
    text-shadow: .1em .1em pink;
}


/* OnePageDisplay*/
.oneBodyBox {
    background-image: 'transparent';
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
}

.ButtonStrip {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.TitleBox {
    font-size: 6rem;
    color: darkred;
    text-shadow: .1rem .1rem black;
}

.oneBox {
    margin: 5rem;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: center;
}


/*NewEntry & Event*/
.EBodyBox {
    width: 100%;
    height: 100%;
    display: grid;
    text-align: center;
}

.BoxLabel {
    font-size: 4rem;
    text-shadow: .2rem .2rem pink;
}

.InputBox {
    background-color: transparent;
    border-radius: 2%;
    margin-left: 1%;
}

.EntryBox {
    width: 80%;
    height: 100%;
    border-radius: 2rem; 
    background-color: transparent; 
    white-space: pre-wrap;
    overflow: auto
}


/* allPics*/
.PBodyBox {
    border: .1rem solid black;
    border-radius: 2%;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, .2);
    padding-top: 2%;
}

.Gallery {
    margin: 1%;
    border: .1rem solid black;
    border-radius: 2%;
}

.PicTitle {
    font-size: 6rem;
    text-shadow: .2rem .2rem pink;
}

.original-image {
    height: 50rem;
    width: 50rem;
}

.thumbnail-image {
    height: 5rem;
    width: 5rem;
}


/*ChatBox*/
.ChatBorder {
    border: .1rem solid black;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .2);
}

.screen {
    border: .1rem solid black;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .2);
    padding-left: 5%;
    color: aliceblue;
    text-shadow: .1rem .1rem black;
    font-size: large;
    margin: 1%;
}

.MessageBox {
    width: 96.5%;
    margin: 2%;
    height: 3rem;
    border-radius: 5%;
    background-color: transparent;
    color: whitesmoke;
}

.NameBox {
    background-color: transparent;
    border-radius: 5%;
}