body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "hellofortune";
  src: local("hellofortune"),
    url("./components/fonts/hellofortune.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "BoneyardBrawl-Regular";
  src: local("BoneyardBrawl-Regular"),
    url("./components/fonts/boneyard_brawl/BoneyardBrawl-Regular.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "CoffeeGreen";
  src: local("CoffeeGreen"),
    url("./components/fonts/coffee_green/CoffeeGreen.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "MorningBeach";
  src: local("MorningBeach"),
    url("./components/fonts/morning_beach/MorningBeach.ttf") format("truetype");
  font-weight: bold;
}